<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Morecambe 1-1 Coventry City
                <small>Sat 22 Oct 16</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Morecambe 1-1 Coventry City</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-8">

            <!-- the actual blog post: title/author/date/content -->
            <hr>
            <p><i class="fa fa-clock-o"></i> Posted on Sunday 6th November 2016 at 9:00 PM by <a href="#">Finn Kempers</a>
            </p>
            <hr>
            <img src="http://www.morecambefc.com/cms_images/coventry-report298-3402632_613x460.jpg" class="img-responsive">
            <hr>
            <p class="lead">The Shrimps are in the hat for the second round of this year's FA Cup but they will have to meet Coventry again following this action packed tie.</p>

            <p>The Shrimps, who made two changes to their starting line up with Dean Winnard and Aaron Wildig returning after recent injuries, dominated the game for long periods and played some excellent football but some fine goalkeeping from Lee Burge and some missed chances meant they had to settle for a draw.</p>

<p>Winnard had given Morecambe the lead on 57 minutes, only for Jamie Sterry to cancel that out with 18 minutes to go.</p>

<p>The Shrimps started brilliantly and could have scored on several occasions in the opening minutes of the game. </p>

<p>Aaron McGowan fired the first salvo when he saw his long range effort tipped behind for a corner by City keeper Burge. </p>

<p>Moments later and a fine counter-attack led by Tom Barkhuizen ended with Burge out quickly to block Cole Stockton's shot for a corner. That corner, taken by Michael Rose, struck the woodwork with Barkhuizen's follow-up cleared off the line. </p>

<p>Wildig also curled an effort over the visitors' bar as little was seen of City as an attacking threat in the opening 45 minutes. </p>

<p>Ben Stevenson had a shot blocked and Kyel Reid fired over as most of the chances came at the other end. Michael Rose saw one shot held by Burge and another deflected narrowly over the Coventry bar before the Shrimps came agonisingly close to taking the lead on 40 minutes. </p>

<p>Another Barkhuizen break down the right-hand side ended with a ball across the area and Wildig's close-range shot cleared off the line by Jordan Willis. </p>

<p>City made a change at half-time with Reid replaced by Jack McBean and it was they who started on top. Marvin Sordell's shot was deflected behind for a corner from which Jordan Turnbull's header was smuggled away by the home defence. </p>

<p>Sordell also struck the crossbar and McBean's header was easily gathered by Barry Roche, all within the opening dozen minutes of the restart. </p>

<p>Back up the other end and Burge kept out Wildig's shot with Stockton unable to turn home the rebound before the deadlock was broken. Stockton headed a corner across goal and Winnard stole in at the far post to convert from a couple of yards. </p>

<p>Roche used his feet to deny Coventry's Andre Wright but was powerless to deny Sterry on 72 minutes when the full-back cut in from the left-hand side before curling an effort across the keeper and in off the post. </p>

<p>Morecambe could have secured victory soon afterwards but Burge kept out Stockton's effort and Barkhuizen somehow headed wide from close range. </p>

<p>The Shrimps ended the game on top and forced a series of corners but could not breach the visiting defence for a second time.</p>

<p>Morecambe: Roche, McGowan, Winnard, Whitmore, Jennings, Murphy, M Rose, Barkhuizen, Wildig (Mullin 66), Molyneux (Dunn 75), Stockton. Subs: Nizic, Wakefield, Conlan, Fleming, Turner. </p>

<p>Coventry City: Burge, Kelly-Evans, Willis, Turnbull, Sterry, A Rose, Lameiras, Stevenson, Wright (Maycock 78), Sordell, Reid (McBean 46). Subs: Charles-Cook, Jones, Ricketts, Tudgay, Harries.</p>

            <hr>

            <!-- the comment box -->
            <div class="well">
                <h4>Leave a Comment:</h4>

                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <hr>

            <!-- the comments -->
            <h3>John Smith
                <small>9:41 PM on November 6, 2016</small>
            </h3>
            <p>This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking
                about space or something, then you randomly start babbling about cupcakes, and you end off with random
                fish names.</p>

            <h3>Joe Bloggs
                <small>9:47 PM on November 6, 2016</small>
            </h3>
            <p>Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals,
                alien abductions, business casual, robots, and fireworks' has true potential.</p>

        </div>

        <div class="col-lg-4">
            <div class="well">
                <h4>Blog Search</h4>

                <div class="input-group">
                    <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                            </button>
                        </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /well -->
            <div class="well">
                <h4>Popular Blog Categories</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#dinosaurs">Dinosaurs</a>
                            </li>
                            <li><a href="#spaceships">Spaceships</a>
                            </li>
                            <li><a href="#fried-foods">Fried Foods</a>
                            </li>
                            <li><a href="#wild-animals">Wild Animals</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#alien-abductions">Alien Abductions</a>
                            </li>
                            <li><a href="#business-casual">Business Casual</a>
                            </li>
                            <li><a href="#robots">Robots</a>
                            </li>
                            <li><a href="#fireworks">Fireworks</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /well -->
            <div class="well">
                <h4>Side Widget Well</h4>

                <p>Bootstrap's default well's work great for side widgets! What is a widget anyways...?</p>
            </div>
            <!-- /well -->
        </div>
    </div>

</div>
<!-- /.container -->