<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">News Blog
                <small>Match Reports</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">News Blog</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-1">
            <p><i class="fa fa-camera fa-4x"></i>
            </p>

            <p>Sunday 6th November 2016</p>
        </div>
        <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://www.morecambefc.com/cms_images/coventry-report298-3402632_613x460.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-md-6">
            <h3><a href="blog-post.html">Morecambe 1-1 Coventry City</a>
            </h3>

            <p>Match Report<a href="#"></a>
            </p>

            <p>The Shrimps are in the hat for the second round of this year's FA Cup but they will have to meet Coventry again following this action packed tie.</p>
            <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-1">
            <p><i class="fa fa-film fa-4x"></i>
            </p>

            <p>Wednesday 9th November 2016</p>
        </div>
        <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://www.morecambefc.com/cms_images/bradford-report-16-17298-3408558_613x460.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-md-6">
            <h3><a href="blog-post.html">Morecambe 3-2 Bradford City</a>
            </h3>

            <p>by <a href="#">Match Report</a>
            </p>

            <p>COLE Stockton scored two goals in two minutes to help the Shrimps into the next round of the Checkatrade Trophy.</p>
            <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-md-1">
            <p><i class="fa fa-file-text fa-4x"></i>
            </p>

            <p>Tuesday 15th November 2016</p>
        </div>
        <div class="col-md-5">
            <a href="blog-post.html">
                <img src="http://www.morecambefc.com/cms_images/coventry-a-report298-3418415_613x460.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-md-6">
            <h3><a href="blog-post.html">Coventry City 2-1 Morecambe</a>
            </h3>

            <p>by <a href="#">Match Report</a>
            </p>

            <p>Morecambe's hopes of reaching the FA cup second round were dashed as two goals from Marvin Sordell won the game for Coventry.</p>
            <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    <hr>

    <div class="row">

        <ul class="pager">
            <li class="previous"><a href="#">&larr; Older</a>
            </li>
            <li class="next"><a href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>

</div>
<!-- /.container -->